--
-- CREATE DATABASE
--

CREATE DATABASE OBD
GO

--
-- USE DATABASE
--

USE [OBD]

--
-- CREATE TABLES
--

CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1, 1) NOT NULL,
	[LicensePlate] [varchar](7) NULL,
	[CarBrandId] [int] NULL,
	[CarModelId] [int] NULL,
	[Volume] [float] NULL,
	[Year] [date] NULL,
	[Fuel] [tinyint] NULL,
	[PersonId] [int] NULL
)
GO

CREATE TABLE [dbo].[CarBrand](
	[CarBrandId] [int] IDENTITY(1, 1) NOT NULL,
	[Name] [varchar](16) NULL
)
GO

CREATE TABLE [dbo].[CarModel](
	[CarModelId] [int] IDENTITY(1, 1) NOT NULL,
	[Name] [varchar](16) NULL
)
GO

CREATE TABLE [dbo].[LogEntry](
	[LogEntryId] [int] IDENTITY(1, 1) NOT NULL,
	[Date] [datetime] NULL,
	[PID] [varchar](2) NULL,
	[Value] [real] NULL,
	[SessionId] [int] NULL
)
GO

CREATE TABLE [dbo].[Person](
	[PersonId] [int] IDENTITY(1, 1) NOT NULL,
	[GivenName] [varchar](16) NULL,
	[SurName] [varchar](16) NULL,
	[IdentityId] [uniqueidentifier] NULL
)
GO

CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [datetime] NULL,
	[DateStop] [datetime] NULL,
	[CarId] [int] NULL
)
GO

CREATE TABLE [dbo].[Configuration](
	[ConfigurationId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[IsLoggingToDb] [bit] NOT NULL,
)
GO

--
-- ADD PRIMARY KEY CONSTRAINTS
--

ALTER TABLE [dbo].[Car]
	ADD CONSTRAINT [XPKCar] PRIMARY KEY CLUSTERED ([CarId] ASC)
GO

ALTER TABLE [dbo].[CarBrand]
	ADD CONSTRAINT [XPKCarBrand] PRIMARY KEY CLUSTERED ([CarBrandId] ASC)
GO

ALTER TABLE [dbo].[CarModel]
	ADD CONSTRAINT [XPKCarModel] PRIMARY KEY CLUSTERED ([CarModelId] ASC)
GO

ALTER TABLE [dbo].[LogEntry]
	ADD CONSTRAINT [XPKLogEntry] PRIMARY KEY CLUSTERED ([LogEntryId] ASC)
GO

ALTER TABLE [dbo].[Person]
	ADD CONSTRAINT [XPKPerson] PRIMARY KEY CLUSTERED ([PersonId] ASC)
GO

ALTER TABLE [dbo].[Session]
	ADD CONSTRAINT [XPKSession] PRIMARY KEY CLUSTERED ([SessionId] ASC)
GO

ALTER TABLE [dbo].[Configuration]
	ADD CONSTRAINT [XPKConfigurationId] PRIMARY KEY CLUSTERED ([ConfigurationId] ASC)
GO

--
-- ADD FOREIGN KEY CONSTRAINTS
--

ALTER TABLE [dbo].[Car]  
	ADD CONSTRAINT [FK_Car_CarBrandId] FOREIGN KEY([CarBrandId]) REFERENCES [dbo].[CarBrand]([CarBrandId])
GO

ALTER TABLE [dbo].[Car] 
	ADD CONSTRAINT [FK_Car_CarModelId] FOREIGN KEY([CarModelId]) REFERENCES [dbo].[CarModel]([CarModelId])
GO

ALTER TABLE [dbo].[Car] 
	ADD CONSTRAINT [FK_Car_PersonId] FOREIGN KEY([PersonId]) REFERENCES [dbo].[Person]([PersonId])
GO

ALTER TABLE [dbo].[LogEntry]
	ADD CONSTRAINT [FK_LogEntry_SessionId] FOREIGN KEY([SessionId]) REFERENCES [dbo].[Session]([SessionId])
	ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Session]
	ADD CONSTRAINT [FK_Session_CarId] FOREIGN KEY([CarId]) REFERENCES [dbo].[Car]([CarId])
	ON DELETE CASCADE
GO

--
-- CREATE STORAGE PROCEDURES
--

CREATE PROCEDURE [dbo].[spEstablishSession]
	@CarId		INT
AS
BEGIN
	INSERT INTO [Session]
		(DateStart, CarId)
	VALUES
		(GETDATE(), @CarId);
	SELECT
		SCOPE_IDENTITY();
END
GO

--
-- CREATE VIEWS
--

CREATE VIEW [dbo].[vPersonFullName]
AS
	SELECT Person.PersonId, CONCAT(Person.GivenName, ' ', Person.SurName) AS FullName
	FROM Person
GO

CREATE VIEW [dbo].[vCarFullName]
AS
	SELECT Car.PersonId, CONCAT(CarBrand.Name, ' ', CarModel.Name, ' ', Car.Volume, ' ', YEAR(Car.Year)) AS FullName
	FROM Car
	JOIN CarBrand ON CarBrand.CarBrandId = Car.CarBrandId
	JOIN CarModel ON CarModel.CarModelId = Car.CarModelId
GO

--
-- INSERT INTO TABLES
--
SET IDENTITY_INSERT [dbo].[Person] ON 
GO

-- [Person]
INSERT INTO [dbo].[Person] ([PersonId], [GivenName], [SurName], [IdentityId]) 
	VALUES 
	(1, N'Michael', N'Winge', NULL),
	(18, N'Olav', N'Dæhli', NULL),
	(19, N'Nils-Olav', N'Skeie', NULL),
	(20, N'Petter', N'Halvorsen', NULL)
GO

SET IDENTITY_INSERT [dbo].[Person] OFF 
GO

SET IDENTITY_INSERT [dbo].[CarBrand] ON 
GO

-- [CarBrand]
INSERT INTO [dbo].[CarBrand] ([CarBrandId], [Name]) 
	VALUES 
	(1, N'Hyundai')
GO

SET IDENTITY_INSERT [dbo].[CarBrand] OFF 
GO

SET IDENTITY_INSERT [dbo].[CarModel] ON 
GO

-- [CarModel]
INSERT INTO [dbo].[CarModel] ([CarModelId], [Name]) 
	VALUES 
	(1, N'i30'),
	(2, N'i40'),
	(3, N'i20')
GO

SET IDENTITY_INSERT [dbo].[CarModel] OFF 
GO

SET IDENTITY_INSERT [dbo].[Car] ON 
GO

-- [Car] relies on [Person], [CarBrand], [CarModel]
INSERT INTO [dbo].[Car] ([CarId], [LicensePlate], [CarBrandId], [CarModelId], [Volume], [Year], [Fuel], [PersonId]) 
	VALUES 
	(1, N'ZE10001', 1, 1, 1.6, CAST(N'2012-01-01' AS Date), NULL, 1)
GO

SET IDENTITY_INSERT [dbo].[Car] OFF
GO

SET IDENTITY_INSERT [dbo].[Session] ON 
GO

-- [Session] relies on [Car]
INSERT [dbo].[Session] ([SessionId], [DateStart], [DateStop], [CarId]) 
	VALUES 
	(2, CAST(N'2020-03-02T17:09:44.663' AS DateTime), NULL, 1)
GO

SET IDENTITY_INSERT [dbo].[Session] OFF 
GO

-- [Configuration] relies on [Car]
INSERT [dbo].[Configuration] ([ConfigurationId], [CarId], [IsLoggingToDb]) 
	VALUES 
	(1, 1, 1)
GO

SET IDENTITY_INSERT [dbo].[LogEntry] ON 
GO

-- [LogEntry] relies on [Session]
GO

SET IDENTITY_INSERT [dbo].[LogEntry] OFF 
GO