<div class="row mb-4">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Loading</h5>
				<p class="text-body">Please wait...</p>
			</div>
		</div>
	</div>
</div>